In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# File to Load
file = 'Resources/books_clean.csv'
# Read the modified Comic Books csv and store into Pandas DataFrame
df = pd.read_csv(file)

In [7]:
# Calculate the number of unique authors in the DataFrame
unique_authors = df['Author'].nunique()

# Calculate the number of unique publication countries in the DataFrame
unique_co = df['Country of Publication'].nunique()

# Calculate the earliest/latest year a book was published
earliest = df["Publication Year"].min()
latest = df["Publication Year"].max()

In [14]:
# Place all of the data found into a summary DataFrame
final = pd.DataFrame({
    "Unique_authors": unique_authors,
    "Unique_countries": unique_co,
    "earliest_year":earliest,
    "latest_year":latest
}, index = [0])

In [15]:
l

NameError: name 'l' is not defined

In [16]:
final

   Unique_authors  Unique_countries  earliest_year  latest_year
0            4248                61           1941         2021