# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [2]:
# Import Libraries
import pandas as pd
from pathlib import Path

In [5]:
! pwd

/home/jcocozza/dev_python/learning/in_class/05-Stu_Data_Cleaning/Unsolved/Core

In [7]:
df = pd.read_csv('../../Resources/stock_data.csv')

### Load CSV data into Pandas using `read_csv`

### Identify the number of rows and columns (shape) in the DataFrame.

In [9]:
df.shape

(504, 14)

### Generate a sample of the data to visually ensure data has been loaded in correctly.

In [10]:
df.sample(5)

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
146,DISCA,Discovery Communications-A,Consumer Discretionary,22.87,11.00,0.000000,1.96,30.2500,15.99,8.763757e+09,2.100000e+09,1.804088,1.50,http://www.sec.gov/cgi-bin/browse-edgar?action...
324,NTAP,NetApp,Information Technology,55.85,26.10,1.388166,1.81,64.0599,37.43,1.537521e+10,1.075000e+09,3.668703,5.46,http://www.sec.gov/cgi-bin/browse-edgar?action...
58,ADSK,Autodesk Inc,Information Technology,104.81,-77.07,0.000000,-2.61,131.1000,81.75,2.434829e+10,-3.781000e+08,16.506820,224.13,http://www.sec.gov/cgi-bin/browse-edgar?action...
406,SNI,Scripps Networks Interactive Inc.,Consumer Discretionary,86.46,16.04,1.376147,5.18,88.8700,64.87,1.132864e+10,1.351059e+09,4.374079,4.22,http://www.sec.gov/cgi-bin/browse-edgar?action...
220,HOG,Harley-Davidson,Consumer Discretionary,47.54,13.70,3.021865,2.98,63.4000,44.52,8.158950e+09,1.058817e+09,1.661950,4.31,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [ ]:
They are the same. The shape give 504 rows. The csv has 504 records.

### Identify nulls records

In [12]:
df.isna().any(axis=1)

0      False
1       True
2      False
3      False
4       True
       ...
499    False
500    False
501    False
502    False
503    False
Length: 504, dtype: bool

### Drop Null Records

In [13]:
df = df.dropna(how='any')

### Validate nulls have been dropped

In [14]:
df.shape

(478, 14)

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [16]:
df['ebita'] = df['ebitda'].fillna(0)

### Drop Duplicates

In [18]:
df = df.drop_duplicates()